/*Whole file*/
html{
    scroll-behavior: smooth;
    color:#002454;
}
/*Whole page*/
body{
    background-color: white;
    display:grid;
    padding:0%;
    gap:0px;
    margin:0%;
    grid-template-rows: auto 1fr 100px;
    text-align:center;
    font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/*Header*/
.header{
    grid-row:1;
    background-color: rgb(233, 233, 248);
}

/*Header / Navigation Bar*/
#NavBar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 30px;
    height:auto;
    padding:30px;

}
.nav-link{
    flex:1;
    width: 1fr;
    text-decoration: none;
    color: #002454;
    font-size: 18px;
    padding:10px;
    border-radius: 10px;
    max-width:100px;
    border:#002454 1px solid;
}

/*Main body*/
#MainBody{
    grid-row:2;
    gap:0px;
    padding:0px;
    margin: 0px;
}

.BodySection{
    padding: 0px 50px 30px 50px;
}

/*Main Body / Banner and introduction*/
#BannerTitle{
    height:300px;
    margin:0px;
    z-index:9;
    background-image: url("../images/placeholderbanner.png");
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y: center;
    display:flex;
    align-items:center;
    justify-content:center;

    text-shadow: 2px 2px 4px #fac01a;
    font-size:50px;
}

/*Main Body / Team Lists*/
.TeamList{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 20px;
    padding: 10px 20px 10px 20px;
}
.MemberCard{
    background-color: rgb(233, 233, 248);
    width: 120px;
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 10px;
}
.CardPicture{
    width:100px;
    height:auto;
}

.LinkLogo{
    width: 15px;
    height:auto;
    transform: translateY(2px);
}

/*Main Body / Sponsors*/
.SponsorList{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 20px;
    padding: 10px 20px 10px 20px;
}

.SponsorCard{
    background-color: rgb(233, 233, 248);
    width: 120px;
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 10px;
}

.SponsorImage{
    width:110px;
}
.Diamond{
    border: 10px solid #B9F2FF;
    border-top: 30px solid #B9F2FF;
}

.Gold{
    border: 10px solid gold;
    border-top: 30px solid gold;
}
.Iron{
    border: 10px solid #D4D7D9;
    border-top: 30px solid #D4D7D9;
}

.SponsorCard{
    text-decoration: none;
    position:relative;
    font-weight:bold;
    color:#002454;
    border-radius: 15px;
}

.SponsorCard:hover{
    transform: scale(1.1);
    transition: transform .5s;
}
.SponsorTier{
    position:absolute;
    top:0px;
    right:50%;
    transform:translate(50%,-25px)

}


/*For small screens*/
@media (max-width:500px){
.ListSection{
    padding:0px;
}
}